<div class="container-fluid">
    <div class="col-12">
        <h4> Create a new patient profile</h4>
        <div class="row form-group">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Name:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="patient.name" pInputText/>
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Last name:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="patient.lastname" pInputText />
            </div>
        </div>
        <div class="row form-group">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Birthdate:
            </label>
            <div class="ui-g-12 ui-md-6">
                <p-calendar class="ui-calendar" [(ngModel)]="patient.birthdate" name="date" [showIcon]="true" icon="fa fa-calendar"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030" [dateFormat]="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>E-mail:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="patient.email" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Phone Number:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="patient.phone" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Address Line 1:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.addressLine1" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                Address Line 2:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.addressLine2" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Zip Code:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.zipCode" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>City:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.city" />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Region:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.region" pInputText />
            </div>
        </div>
        <div class="row form-group ">
            <label class="text-right col-form-label col-2">
                <sup>*</sup>Country:
            </label>
            <div class="col-7 mt-1">
                <input type="text" [(ngModel)]="address.country" pInputText />
            </div>
        </div>
        <div class="row offset-4 mb-5">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="save()">Save
            </button>
        </div>
    </div>
</div>