<div class="container-fluid">
    <div class="col-12">
        <div class="col-8 mt-15">
            <span
                style="color: green; font-size: xx-large; font-weight: bold;">{{ "home.welcome" | translate:{'name': name} }}</span>
        </div>
        <div class="col-12" *ngxPermissionsOnly="['DOCTOR']">
            <div class="col-6 mt-10 mb-10" *ngIf="hasAlerts">
                <span
                    style="color: indianred; font-size: larger; font-weight: bold;">{{'home.alerts.found' | translate}}</span>
                    <button type="button" class="btn btn-outline-success ml-3"
                    (click)="goToAlerts()">{{'home.alerts.open' | translate}}</button>
            </div>
            <br/>

            <p-table #dt [value]="consultationList" dataKey="id" styleClass="ui-table-consultations" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{last}/{totalRecords}" [filterDelay]="0"
                [globalFilterFields]="['patientName','patientLastname']">
                <ng-template pTemplate="caption">
                    <span style="color: green;">{{"doctor.home.consultations.today" | translate}}</span>
                    <div class="ui-table-globalfilter-container">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [placeholder]="'menu.search.global' | translate" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th>{{'consultations.manage.patient.name'|translate}}
                        </th>
                        <th>{{'consultations.manage.patient.lastname'|translate}}

                        </th>
                        <th>{{'consultations.manage.date'|translate}}

                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" style="width: fit-content;"
                                (input)="dt.filter($event.target.value, 'patientName', 'startsWith')"
                                [placeholder]="'menu.search.byName' | translate" class="ui-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text" style="width: fit-content;"
                                (input)="dt.filter($event.target.value, 'patientLastname', 'startsWith')"
                                [placeholder]="'menu.search.byLastName' | translate" class="ui-column-filter">
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consultation>
                    <tr class="ui-selectable-row">
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">
                                {{consultation.patientName}}</span>
                        </td>
                        <td>
                            <span
                                style="vertical-align: middle; margin-left: .5em">{{consultation.patientLastName}}</span>
                        </td>

                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">{{consultation.date}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                                (click)="openChart(consultation)">{{'doctor.home.consultations.open.chart' | translate}}</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                                (click)="openNotes(consultation)">{{'doctor.home.consultations.open.notes' | translate}}</button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" style="text-align:center; color:indianred;">
                            {{'datatable.no_data' | translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>