<ng-container>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">GluM</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['home']" routerLinkActive="current-item"
                            [routerLinkActiveOptions]="{exact: false}">{{"menu.home" | translate}} <span
                                class="sr-only">(current)</span></a>
                    </li>

                    <!--Doctor: view patients-->
                    <li class="nav-item active" *ngxPermissionsOnly="['DOCTOR']">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{"menu.patients" | translate}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['patient/patients-list']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"menu.doctor.patients" | translate}}</a>
                            <a class="nav-link" [routerLink]="['patient/patient-alerts']"
                                routerLinkActive="current-item" [routerLinkActiveOptions]="{exact: false}">
                                {{"menu.patients.alerts" | translate}}</a>
                        </div>
                    </li>

                    <!--Administrator: Create and manage patients-->
                    <li class="nav-item dropdown active" *ngxPermissionsOnly="['ADMINISTRATOR']">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{"menu.patients" | translate}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['patient/create-patient']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"patient.create.title" | translate}}</a>
                            <a class="dropdown-item" [routerLink]="['patient/manage-patients']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"patient.manage.title" | translate}}</a>
                            <a class="dropdown-item" [routerLink]="['patient/manage-sensor']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"patient.manage.sensor.title" | translate}}</a>
                        </div>
                    </li>

                    <!--Administrator: view doctor list and schedule-->
                    <li class="nav-item dropdown active" *ngxPermissionsOnly="['ADMINISTRATOR']">
                        <a class="nav-link" [routerLink]="['doctor/list']" routerLinkActive="current-item"
                            [routerLinkActiveOptions]="{exact: false}">
                            {{"menu.doctor.title" | translate}}
                        </a>
                    </li>

                    <!--Doctor: view consultations-->
                    <li class=" nav-item active" *ngxPermissionsOnly="['DOCTOR']">
                        <a class="nav-link" [routerLink]="['consultation/view-consultations']"
                            routerLinkActive="current-item"
                            [routerLinkActiveOptions]="{exact: false}">{{"menu.consultations.view" | translate}}<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <!--Administrator: create and manage consultations-->
                    <li class="nav-item dropdown active" *ngxPermissionsOnly="['ADMINISTRATOR']">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{"menu.consultations.title" | translate}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['consultation/create-consultation']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"menu.consultations.create" | translate}}</a>
                            <a class="dropdown-item" [routerLink]="['consultation/manage-consultations']"
                                routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"menu.consultations.manage" | translate}}</a>
                        </div>
                    </li>

                    <!--Doctor: calendar-->
                    <li class="nav-item dropdown active" *ngxPermissionsOnly="['DOCTOR']">
                        <a class="nav-link dropdown-toggle" [routerLink]="['doctor/schedule']"
                            routerLinkActive="current-item" [routerLinkActiveOptions]="{exact: false}">
                            {{"menu.calendar" | translate}}
                        </a>
                    </li>

                </ul>
                <fa-icon class="fa fa-globe fa-lg"></fa-icon>
                <button class="btn mr-1" (click)="changeLanguage()">{{language}}</button>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                        [placeholder]="'menu.patients.search.placeholder' | translate" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">{{"buttons.search" | translate}}</button>
                </form>
                <ul class="navbar-nav my-2 my-sm-0">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{"menu.settings" | translate}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['doctor/settings']" routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"menu.settings" | translate}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="current-item"
                                [routerLinkActiveOptions]="{exact: false}">{{"menu.logout" | translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</ng-container>