<div class="container-fluid">
    <div class="col-10">
        <h4>Risk Factors</h4>
        <div class="col-10">
            <div class="row form-group">
                <label class="text-right col-form-label col-3">Age:</label>
                <div class="col-7">
                    <input type="text" readonly='true' value="{{age}}">
                </div>
            </div>

            <div class="row form-group">
                <label class="text-right col-form-label col-3">Weight: </label>
                <div class="col-7">
                    <input type="number" (ngModel)="patientRiskFactors.height">
                </div>
            </div>
            <div class="row form-group">
                <label class="text-right col-form-label col-3">Height: </label>
                <div class="col-7">
                    <input type="number" (ngModel)="patientRiskFactors.height">
                </div>
            </div>
            <div class="row form-group">
                <label class="text-right col-form-label col-3">Racial origin:</label>
                <div class="col-7">
                    <p-dropdown [style]="{'width':'50%'}" [options]="races" [(ngModel)]="patientRiskFactors.race"
                        optionLabel='label'>
                    </p-dropdown>
                </div>
            </div>
            <div class="row form-group">
                <label class="text-right col-form-label col-3">Conception method:</label>
                <div class="col-7">
                    <p-dropdown [style]="{'width':'50%'}" [options]="conceptions"
                        [(ngModel)]="patientRiskFactors.conception" optionLabel='label'>
                    </p-dropdown>
                </div>
            </div>
            <div class="row form-group">
                <label class="text-right col-form-label col-3">Family history of diabetes:</label>
                <div class="col-7">
                    <p-dropdown [style]="{'width':'50%'}" [options]="familyHistory"
                        [(ngModel)]="patientRiskFactors.diabetesHistory" optionLabel='label'>
                    </p-dropdown>
                </div>
            </div>
            <div class="row form-group" *ngFor="let risk of risks">
                <label class="text-right col-form-label col-3">{{risk.name}}: </label>
                <div class="col-7">
                    <p-radioButton class="mr-2" value="true" label="Yes" [(ngModel)]="risk.selected">
                    </p-radioButton>
                    <p-radioButton class="mr-2" value="false" label="No" [(ngModel)]="risk.selected">
                    </p-radioButton>
                </div>
            </div>
            <div class="row offset-4 mb-5">
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="save()">Save
                </button>
            </div>
        </div>
    </div>
</div>