<div class="col-10">
    <div class="row form-group">
        <label class="text-right col-form-label col-2">
            <sup>*</sup> {{"doctor.create.name" | translate}}:
        </label>
        <div class="col-10">
            <input type="text" [(ngModel)]="doctor.name" />
        </div>
    </div>
    <div class="row form-group ">
        <label class="text-right col-form-label col-2">
            <sup>*</sup> {{"doctor.create.lastname" | translate}}: </label>
        <div class="col-10">
            <input type="text" [(ngModel)]="doctor.lastname" />
        </div>
    </div>
    <div class="row form-group ">
        <label class="text-right col-form-label col-2">
            <sup>*</sup> {{"doctor.create.email" | translate}}:
        </label>
        <div class="col-10">
            <input type="text" [(ngModel)]="doctor.email" />
        </div>
    </div>
    <div class="row form-group ">
        <label class="text-right col-form-label col-2">
            <sup>*</sup> {{"doctor.create.phone" | translate}}:
        </label>
        <div class="col-10">
            <input type="text" numbersOnly maxlength="10" [(ngModel)]="doctor.phone" />
        </div>
    </div>
    <div class="row form-group ">
        <label class="text-right col-form-label col-2">
            <sup>*</sup> {{"doctor.create.medicalSpeciality" | translate}}:
        </label>
        <div class="col-10">
            <p-dropdown [options]="specialities" filter='true' [(ngModel)]="selectedSpeciality"
                [style]="{'width':'50%'}" [showClear]="true" optionLabel="label"
                [placeholder]="selectedSpeciality ? selectedSpeciality.label : translateService.instant('buttons.select')">
                <ng-template let-option pTemplate="item">
                    <span>{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="offset-3 mb-1">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                (click)="emitDoctorInformation()">{{"buttons.save" | translate}}
            </button>
        </div>
    </div>
</div>