<div class="container-fluid">
    <h5 class="titleLabel">{{"patient.create.title" | translate}} </h5>
    <div class="row">
        <div class="col-11 panel">
            <p-panel [header]="'patient.create.header.personal' | translate">
                <div class="row form-group">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.name" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.name" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.lastname" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]=" patient.lastname" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.birthdate" | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6">
                        <p-calendar class="ui-calendar" [(ngModel)]="patient.birthdate" [showIcon]="true"
                            icon="fa fa-calendar" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-11 panel">
            <p-panel [header]="'patient.create.header.contact' | translate">
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.email" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.email" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.phone.number" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.phone" />
                    </div>
                </div>
            </p-panel>
        </div>

    </div>
    <div class="row">
        <div class="col-11 panel">
            <p-panel [header]="'patient.create.header.address' |translate">
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.address.line.1" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.addressLine1" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        {{"patient.create.address.line.2" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.addressLine2" />
                    </div>
                </div>

                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.city" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.city" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.zip.code" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.zipCode" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.region" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.region" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>{{"patient.create.country" | translate}}
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.country" />
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-5 mt-2 mb-5">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="save()">{{"patient.create.save" | translate}}
            </button>
        </div>
    </div>
</div>