<div class="container-fluid">
    <h5 class="titleLabel"> Create a new patient profile: </h5>
    <div class="row">
        <div class="col-11 panel">
            <p-panel header="Personal Information">
                <div class="row form-group">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Name:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.name" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Last name:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]=" patient.lastname" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Birthdate:
                    </label>
                    <div class="ui-g-12 ui-md-6">
                        <p-calendar class="ui-calendar" [(ngModel)]="patient.birthdate" [showIcon]="true"
                            icon="fa fa-calendar" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-11 panel">
            <p-panel header="Contact Information">
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>E-mail:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.email" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Phone Number:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="patient.phone" />
                    </div>
                </div>
            </p-panel>
        </div>

    </div>
    <div class="row">
        <div class="col-11 panel">
            <p-panel header="Address">
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Address Line 1:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.addressLine1" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        Address Line 2:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.addressLine2" />
                    </div>
                </div>

                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>City:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.city" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Zip Code:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.zipCode" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Region:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.region" />
                    </div>
                </div>
                <div class="row form-group ">
                    <label class="text-right col-form-label col-2">
                        <sup>*</sup>Country:
                    </label>
                    <div class="col-7 mt-1">
                        <input type="text" [(ngModel)]="address.country" />
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-5 mt-2 mb-5">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="save()">Save
            </button>
        </div>
    </div>
</div>