<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p-card>
                <div class="col-8">
                    <h5>{{'doctor.schedule.title' | translate}} {{fullName}}</h5>

                    <div *ngFor="let day of weeklySchedule; let itemIndex= index">
                        <div class="row form-group">
                            <label class="text-right col-form-label col-2">
                                {{"doctor.schedule.start" | translate:{'dayOfWeek': getDay(itemIndex)} }}
                            </label>
                            <div class="col-3">
                                <input type="time" [disabled]="!editMode" [(ngModel)]="day.start">
                            </div>

                            <label class="text-right col-form-label ">
                                {{"doctor.schedule.end" | translate}}
                            </label>
                            <div class="col-3">
                                <input type="time" [disabled]="!editMode" [(ngModel)]="day.end">
                            </div>
                            <span *ngIf="isDayOf(itemIndex)"
                                style="color: green; font-size: medium; font-weight: bold;">{{'doctor.schedule.dayOff' | translate}}</span>
                        </div>
                    </div>

                    <div class="col-5 offset-4">
                        <button (click)="onEdit()" *ngIf="!editMode"
                            class="btn btn-outline-success my-2 my-sm-0">{{'doctor.schedule.edit' | translate}}</button>
                        <button type="submit" (click)="saveSchedule()" *ngIf="editMode"
                            class="btn btn-success my-2 my-sm-0">{{'buttons.save' | translate}}</button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>