<div class="container-fluid">
    <div class="col-12">
        <p-card *ngIf="selectedPatient">
            <h4>{{'patient.medical.chart.title' | translate}}</h4>
            <div class="col-10">
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.name' | translate}}: </label>
                    </div>
                    <span>{{selectedPatient.name}}
                        {{selectedPatient.lastname}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.age' | translate}}: </label>
                    </div>
                    <span> {{age}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.pregnant' | translate}}: </label>
                    </div>
                    <span>{{isPregnant}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label class="mt-3">{{'patient.medical.chart.due.date' | translate}}: </label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar class="ui-calendar" [disabled]='!editMode' [showIcon]="true" icon="fa fa-calendar"
                            [monthNavigator]="true" [yearNavigator]="true" [minDate]="today" [maxDate]="maxDate"
                            yearRange="1950:2030" dateFormat="dd/mm/yy" [(ngModel)]="selectedDueDate">
                        </p-calendar>

                        <button *ngIf="!editMode" type="button" class="btn btn-outline-success"
                            (click)="editMode = true">{{'buttons.edit' | translate}}</button>
                        <button *ngIf="editMode" type="button" class="btn btn-outline-success"
                            (click)="savePregnancyInfo()">{{'buttons.save' | translate}}</button>
                    </div>
                </div>
                <div class="row form-group mt-3">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.pregancy.week' | translate}}: </label>
                    </div>
                    <span>
                        {{week}}
                    </span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right mt-2">
                        <label>{{'patient.medical.chart.score' | translate}}:</label>
                    </div>
                    <span style="color: indianred; margin-left: 5px; font-weight: bold;"
                        *ngIf="riskFactors && !riskFactors.patientId">{{'patient.medical.chart.setRiskFactors' | translate}}</span>
                    <div class="col-10">
                        <ul *ngIf="riskScore">
                            <li class="row">
                                <span class="mt-2">
                                    {{'patient.medical.chart.naylorScore' |translate}} -
                                    {{riskScore.naylorScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt-2">
                                    {{'patient.medical.chart.caliskanScore' |translate}} -
                                    {{riskScore.caliskanScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt-2">
                                    {{'patient.medical.chart.vanLeeuwenScore' |translate}} -
                                    {{riskScore.vanLeeuwenScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt-2">
                                    {{'patient.medical.chart.teedeScore' |translate}} - {{riskScore.teedeScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt-2">
                                    {{'patient.medical.chart.nandaScore' |translate}} - {{riskScore.nandaScore}}</span>
                            </li>
                            <div>
                                <button type="button" class="btn btn-outline-success mt-3"
                                    (click)="openChart()">{{'patient.medical.chart.addrisk' | translate}}</button>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.bmi' | translate}}:</label>
                    </div>
                    <span>{{bmi}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.medical.chart.sensor' | translate}}:</label>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>