<div class="container-fluid">
    <div class="col-12">
        <p-card *ngIf="selectedPatient">
            <h4>{{'patient.pregnancy.chart.title' | translate}}</h4>
            <div class="col-10">
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.name' | translate}}: </label>
                    </div>
                    <span>{{selectedPatient.name}}
                        {{selectedPatient.lastname}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.age' | translate}}: </label>
                    </div>
                    <span> {{age}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.pregnant' | translate}}: </label>
                    </div>
                    <span>{{isPregnant}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label class="mt 3">{{'patient.pregnancy.chart.due.date' | translate}}: </label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar class="ui-calendar" [disabled]='!editMode' [showIcon]="true" icon="fa fa-calendar"
                            [monthNavigator]="true" [yearNavigator]="true" [minDate]="today" [maxDate]="maxDate"
                            yearRange="1950:2030" dateFormat="dd/mm/yy" [(ngModel)]="selectedDueDate">
                        </p-calendar>

                        <button *ngIf="!editMode" type="button" class="btn btn-outline-success"
                            (click)="editMode = true">{{'buttons.edit' | translate}}</button>
                        <button *ngIf="editMode" type="button" class="btn btn-outline-success"
                            (click)="savePregnancyInfo()">{{'buttons.save' | translate}}</button>
                    </div>
                </div>
                <div class="row form-group mt 3">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.pregancy.week' | translate}}: </label>
                    </div>
                    <span>
                        {{week}}
                    </span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right mt 2">
                        <label>{{'patient.pregnancy.chart.score' | translate}}:</label>
                    </div>
                    <div class="col-10">
                        <span style="color: indianred; margin-left: 5px; font-weight: bold;"
                            *ngIf="riskFactors && !riskFactors.patientId">{{'patient.pregnancy.chart.setRiskFactors' | translate}}</span>

                        <ul *ngIf="riskScore && riskScore.naylorScore">
                            <li class="row">
                                <span class="mt 2">
                                    {{'patient.pregnancy.chart.naylorScore' |translate}} -
                                    {{riskScore.naylorScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt 2">
                                    {{'patient.pregnancy.chart.caliskanScore' |translate}} -
                                    {{riskScore.caliskanScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt 2">
                                    {{'patient.pregnancy.chart.vanLeeuwenScore' |translate}} -
                                    {{riskScore.vanLeeuwenScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt 2">
                                    {{'patient.pregnancy.chart.teedeScore' |translate}} -
                                    {{riskScore.teedeScore}}</span>
                            </li>
                            <li class="row">
                                <span class="mt 2">
                                    {{'patient.pregnancy.chart.nandaScore' |translate}} -
                                    {{riskScore.nandaScore}}</span>
                            </li>
                        </ul>
                        <div>
                            <button type="button" class="btn btn-outline-success mt 3"
                                (click)="openRiskFactorsChart()">{{'patient.pregnancy.chart.addrisk' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.bmi' | translate}}:</label>
                    </div>
                    <span>{{bmi}}</span>
                </div>
                <div class="row form-group">
                    <div class="col-2 text-right">
                        <label>{{'patient.pregnancy.chart.sensor' | translate}}:</label>
                    </div>
                    <span *ngIf="sensorInfo">{{sensorInfo.status}}</span>
                    <div>
                        <span *ngIf="sensorInfo && sensorInfo.status != 'ACTIVE'">
                            <button type="button" class="btn btn-outline-success ml-3"
                                (click)="activate()">{{'patient.pregnancy.chart.activateSensor' | translate}}</button>
                        </span>
                        <span *ngIf="sensorInfo && sensorInfo.status == 'ACTIVE'">
                            <button type="button" class="btn btn-outline-success ml-3"
                                (click)="deactivate()">{{'patient.pregnancy.chart.deactivateSensor' | translate}}</button>
                            <button type="button" class="btn btn-outline-success ml-3"
                                (click)="viewCharts()">{{'patient.pregnancy.chart.viewCharts' | translate}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </p-card>

        <!--
            Consultation history
        -->
        <p-card *ngIf="selectedPatient" class="col-12 mt 20">
            <h4>{{'patient.consultation.history.title' | translate}}</h4>
            <p-table #dt [value]="consultationList" dataKey="id" styleClass="ui-table-consultations" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{last}/{totalRecords}" [filterDelay]="0"
                [globalFilterFields]="['doctorName', 'doctorLastName','speciality', 'date']">
                <ng-template pTemplate="caption">
                    <div class="ui-table-globalfilter-container">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [placeholder]="'menu.search.global' | translate" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="doctorName">{{'consultations.manage.doctor.name'|translate}}
                            <p-sortIcon field="doctorName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="doctorLastName">{{'consultations.manage.doctor.lastname'|translate}}
                            <p-sortIcon field="doctorLastName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="speciality">{{'consultations.manage.speciality'|translate}}
                            <p-sortIcon field="speciality"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="date">{{'consultations.manage.date'|translate}}
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th style="width: 5em"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consultation>
                    <tr class="ui-selectable-row">
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em"> {{consultation.doctorName}}</span>
                        </td>
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">
                                {{consultation.doctorLastName}}</span>
                        </td>
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">{{consultation.speciality}}</span>
                        </td>

                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">{{consultation.date}}</span>
                        </td>

                        <td>
                            <button pButton type="button" class="ui-button-secondary" icon="fa fa-address-book"
                                [pTooltip]="'patient.consultation.history.viewNotes' | translate" tooltipPosition="top"
                                (click)="viewNotes(consultation.consultationId)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" style="text-align:center; color:indianred;">
                            {{'datatable.no_data' | translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <!--
            Analize
        -->
        <p-card class="col-12 mt 20">
            <h4>{{'patient.blood.analysis.title' | translate}}</h4>
            <p-table #dt [value]="investigationsList" dataKey="id" styleClass="ui-table-consultations" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{last}/{totalRecords}" [filterDelay]="0"
                [globalFilterFields]="['investigationName']">
                <ng-template pTemplate="caption">
                    <div class="ui-table-globalfilter-container">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [placeholder]="'menu.search.global' | translate" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="investigationName">{{'patient.blood.analysis.investigationName'|translate}}
                            <p-sortIcon field="investigationName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="value">{{'patient.blood.analysis.investigationValue'|translate}}
                            <p-sortIcon field="value"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">{{'patient.blood.analysis.status'|translate}}
                            <p-sortIcon field="status"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="date">{{'patient.blood.analysis.date'|translate}}
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="requestedBy">{{'patient.blood.analysis.requestedBy'|translate}}
                            <p-sortIcon field="requestedBy"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-investigation>
                    <tr class="ui-selectable-row">
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">
                                {{investigation.investigationName}}</span>
                        </td>
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">
                                {{investigation.investigationValue}}</span>
                        </td>
                        <td>
                            <span
                                [class]="'investigation-badge status-' + investigation.status.toLowerCase()">{{investigation.status}}</span>
                        </td>

                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">{{investigation.date}}</span>
                        </td>
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">{{investigation.requestedBy}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" style="text-align:center; color:indianred;">
                            {{'datatable.no_data' | translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <!--
            Alerts
        -->
        <p-card class="col-3 mt 20">
            <h4>{{'patient.chart.alerts.title' | translate}}</h4>
            <p-table #dt [value]="alertsList" dataKey="id" styleClass="ui-table-consultations" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="{last}/{totalRecords}" [filterDelay]="0">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">{{'patient.chart.alerts.date'|translate}}
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alert>
                    <tr class="ui-selectable-row">
                        <td>
                            <span style="vertical-align: middle; margin-left: .5em">
                                {{alert.timestamp}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="1" style="text-align:center; color:indianred;">
                            {{'datatable.no_data' | translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>